@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{margin: 0px; padding: 0px; box-sizing: border-box;}
body{font-family: 'Roboto', sans-serif;}
#root{
    zoom: 80% !important;
}
.container-fluid{
    padding-left: 45px !important;
    padding-right: 45px !important;
}

.cursor{cursor:pointer !important}

.bg-g,.bg-success{background: #3bb77e !important;}
.text-g{color: #3bb77e !important;}

.hd{font-size: 40px !important; font-weight: 600 !important; margin-bottom: 20px !important;}

.transition{
    transition: all 0.3s ease-in-out !important;
}

.price {
    font-size: 25px;
    margin-right: 20px;
}

.oldPrice {
    font-size: 16px;
    opacity: 0.6;
    color: #000;
    text-decoration: line-through;
}